@import "tailwindcss";

:root {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

html,
body {
  min-height: 100%;
}

body {
  background: #f7f7f8;
  color: #171717;
}

.dark body {
  background: #09090b;
  color: #fafafa;
}
